* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sails{
    width: 90px;
    height: 90px;
    position: relative;
}

.green {
    background-color: rgb(118,150,86);
    color: rgb(238,238,210);
}

p{
    margin: 5px;
}

.yellow{
    background-color: rgb(238,238,210);
    color: rgb(118,150,86);
}


.mainDiv {
    width: 720px;
    height: 720px;
    margin: auto;
}

.divFlex {
    display: flex;
}

.letters{
    position: absolute;
    right: 0;
    bottom: 0;
}